<style>
     .copyright {
          text-align: center;
          padding: 15px 0;
          background-color: #351E10;
          color: #ffffff;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 14px;
          border-top: 2px solid #351E10;
        }
</style>
<div class="copyright">
    <p>&copy; 2024 Construction Company. All Rights Reserved.</p>
</div>